root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
ktlint_standard_function-naming = disabled
# To disable specific ktlint rules, add them here
# For example, to disable the 'class-naming' rule:

[app/src/main/**/*.kt]
ktlint_standard_filename = disabled
